.obsidian/workspace.json
.obsidian/appearance.json
.obsidian/vault.json
.obsidian/plugins/
.obsidian/themes/
07 - DRAFT
01 - Areas/Cibersecurity/Courses/HTB Academy/Private
01 - Areas/Other/NAND2Tetris/Part 1/06 - Assembler Roadmap/project/assembler
