.obsidian/workspace.json
.obsidian/appearance.json
.obsidian/vault.json
.obsidian/plugins/
.obsidian/themes/
07-DRAFT
03-Courses/HTB_Academy/Private
03-Courses/NAND2Tetris/Part 1/06 - Assembler Roadmap/project/assembler
04-Resources/99-PRIVATE
